@tailwind base;
@tailwind components;
@tailwind utilities;

html { color-scheme: dark; }
body { @apply bg-space-indigo-950 text-bright-snow-100 font-sans min-h-screen; }
.scrollbar-none::-webkit-scrollbar { display: none; }

.fade-enter { @apply opacity-0; }
.fade-enter-active { @apply opacity-100 transition-opacity duration-300; }
